<div class="example-wrap">
    <form class="k-form" [formGroup]="registerForm">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">User Details</legend>
        <kendo-formfield>
          <kendo-label [for]="username" text="Username"></kendo-label>
          <input
            formControlName="username"
            kendoTextBox
            #username
          />

          <kendo-formhint>Your Username</kendo-formhint>
          <kendo-formerror  *ngIf="registerForm.controls['username'].errors?.['required']">Error: Username is required</kendo-formerror>
          <kendo-formerror *ngIf="registerForm.controls['username'].errors?.['minlength'] && registerForm.controls['username'].touched"
          >Error: Username must be at least 6 characters long</kendo-formerror>
          <kendo-formerror  *ngIf="registerForm.controls['username'].errors?.['maxlength']">Error: Username cannot excede 20 characters.</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label [for]="email" text="Email"></kendo-label>
          <input formControlName="email" kendoTextBox #email required />

          <kendo-formhint>Your active email</kendo-formhint>
          <kendo-formerror  *ngIf="registerForm.controls['email'].errors?.['required']">Error: Email is required</kendo-formerror>
          <kendo-formerror *ngIf="registerForm.controls['email'].errors?.['email'] && registerForm.controls['username'].touched"
          >Error: Email is not in valid format</kendo-formerror>
        </kendo-formfield>

        <ng-container formGroupName="pass">
        <kendo-formfield>
            <kendo-label [for]="password" text="Password"></kendo-label>
            <input formControlName="password" kendoTextBox #password required />
  
            <kendo-formhint>Your password</kendo-formhint>
            <kendo-formerror>Error: Password is required</kendo-formerror>
            <kendo-formerror *ngIf="registerForm.controls['username'].errors?.['minlength'] && registerForm.controls['username'].touched"
            >Error: Username must be at least 6 characters long</kendo-formerror>
          </kendo-formfield>

          <kendo-formfield>
            <kendo-label [for]="repass" text="Repeat Password"></kendo-label>
            <input formControlName="repass" kendoTextBox #repass required />
  
            <kendo-formhint>Repeat your password</kendo-formhint>
            <kendo-formerror>Error: Password is required</kendo-formerror>
            <kendo-formerror *ngIf="registerForm.get('pass')?.errors?.['sameValueGroupValidator']">
              Passwords do not match
            </kendo-formerror>
          </kendo-formfield>
        </ng-container>

        <div class="k-form-buttons">
          <button kendoButton themeColor="primary" [disabled]="registerForm.invalid" (click)="submitForm()">
            Submit
          </button>
          <button kendoButton [disabled]="registerForm.dirty === false" (click)="clearForm()">Clear</button>
        </div>
      </fieldset>
    </form>
  </div>
{{registerForm.dirty}}
  {{registerForm.get('pass')?.errors | json}}
  {{registerForm.get('pass')?.errors?.['sameValueGroupValidator'] && registerForm.get('pass')?.get('repass')?.touched}}